@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  /* @apply font-sans; */
  font-family: "Lalezar", system-ui;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --primary-color: #000B58;
  --lighter-primary-color: #0556a7;
  --accent-color: #FFF4B7;
  --secondary-color: #FFF4B7;
  --bg-color: #F4F4F4;
}
