.profile-content{
    padding: 16px;
    text-align: left;
}

.profile-page .profile-header {
    display: flex;
    margin-bottom: 32px;
}

.profile-page .profile-header img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    align-self: center;

}

.prodile-description {
    padding: 16px;
    text-align: left;
}

.profile-rewards {
    height: 150px;
    background-color: #D9D9D9;

    border-radius: 10px;
    margin-bottom: 32px;
}
