.TEB{
    margin-top:30px;
}

.Exit{
    border-radius: 10px;
    width:250px;
    font-size: large;
    height:50px;
    margin-top: 50px;
    margin-bottom: 70px;
    align-self: center;
    cursor: pointer;
    transition: transform 0.3s ease;
    background-color: var(--button-color);
    color: white;
}
.Exit:hover{
transform: scale(1.1,1.1);
}