.TE_all{
    background-color:var(--active-color);
    width: 600px;
    height:350px;
    border-radius: 20px;
    display:flex;
    flex-direction: column;
    margin:auto;
    align-items: center;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}
.TE_all .des{
     font-size: 20px;
  font-weight: bold;
    font-family: lalezar;
    align-self: start;
    margin-left: 30px;
    margin-top: 30px;
   
}
.TE_all .TeamName{
    width:100%;
    font-size: 20px;
  font-weight: bold;
margin-top: 30px;
height:30%;

}
.TE_all .TeamName .name{
    width:50%;
    margin-left: 10px;
    height:70%;
    border-radius: 7px;
}

.TE_all .TeamMate{
    width:100%;
    font-size: 20px;
  font-weight: bold;
margin-top: 20px;
height:30%;

}
.TE_all .TeamMate .TMname,.TMname2{
    width:50%;
    margin-left: 10px;
    height:70%;
    border-radius: 7px;
}


.TE_all .send{
    font-size: 20px;
    height:12%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left:30px;
    border-radius: 10px;
    width:30%;
    cursor: pointer;
    transition: transform 0.3s ease;
    background-color: var(--button-color);
    color: white;
}

.TE_all .send:hover{
    transform: scale(1.1,1.1);
}
